<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fitness</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" type="text/css" href="~/asset/resources/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/asset/vendors/css/lightbox.css" />
    <link rel="stylesheet" href="~/asset/vendors/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/asset/resources/css/quires.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/asset/vendors/css/animate.css" />

    <!-- CSS Files -->



    <link id="pagestyle" href="./assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />


    <!-- Nucleo Icons -->
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/assets/css/templatemo-training-studio.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fitness.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
   @Html.Partial("_HeroSection")
   @Html.Partial("_HeaderApp")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()



         @section MiddalSection{
                <!-- ***** Features Item Start ***** -->
                <section class="section" id="features">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="section-heading">
                                    <h2>Choose <em>Program</em></h2>
                                    <img src="~/assets/images/line-dec.png" alt="waves">
                                    <p>Fitness Club : A dedicated facility that offers a wide range of exercise equipment, group classes, and personalized training services to cater to individuals with diverse fitness goals and preferences. Fitness clubs aim to create a supportive and motivating environment, promoting a healthy lifestyle and fostering a sense of community among members.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="features-items">
                                    <li class="feature-item">
                                        <div class="left-icon">
                                            <img src="~/assets/images/features-first-icon.png" alt="First One">
                                        </div>
                                        <div class="right-content">
                                            <h4>Basic Fitness</h4>
                                            <p>A comprehensive approach to improving overall health and well-being through a combination of physical activity, proper nutrition, and adequate rest. This holistic approach emphasizes the importance of regular exercise, a balanced diet, and sufficient sleep to enhance one's energy levels, boost the immune system, and maintain a healthy weight.</p>
                                            <a href="#" class="text-button">Discover More</a>
                                        </div>
                                    </li>
                                    <li class="feature-item">
                                        <div class="left-icon">
                                            <img src="~/assets/images/features-first-icon.png" alt="second one">
                                        </div>
                                        <div class="right-content">
                                            <h4>New Gym Training</h4>
                                            <p>A modern and innovative approach to physical fitness that incorporates a diverse range of exercises, equipment, and training techniques to cater to individuals of all ages and fitness levels.</p>
                                            <a href="#" class="text-button">Discover More</a>
                                        </div>
                                    </li>
                                    <li class="feature-item">
                                        <div class="left-icon">
                                            <img src="~/assets/images/features-first-icon.png" alt="third gym training">
                                        </div>
                                        <div class="right-content">
                                            <h4>Basic Muscle Course</h4>
                                            <p>Throughout the course, participants will be guided on how to create a balanced workout routine, incorporating principles of progressive overload, rest, and recovery.</p>
                                            <a href="#" class="text-button">Discover More</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="features-items">
                                    <li class="feature-item">
                                        <div class="left-icon">
                                            <img src="~/assets/images/features-first-icon.png" alt="fourth muscle">
                                        </div>
                                        <div class="right-content">
                                            <h4>Advanced Muscle Course</h4>
                                            <p>Throughout the program, participants will explore a wide range of exercises, including complex compound and isolation movements, as well as advanced training techniques like drop sets, supersets, and cluster sets.</p>
                                            <a href="#" class="text-button">Discover More</a>
                                        </div>
                                    </li>
                                    <li class="feature-item">
                                        <div class="left-icon">
                                            <img src="~/assets/images/features-first-icon.png" alt="training fifth">
                                        </div>
                                        <div class="right-content">
                                            <h4>Yoga Training</h4>
                                            <p>Throughout a yoga training program, participants will be guided through a series of asanas designed to improve body awareness, increase range of motion, and build muscular endurance. They will also learn essential pranayama techniques to control and deepen their breath, helping to calm the mind and improve concentration. Meditation and relaxation techniques will be integrated into the practice, enabling participants to cultivate mindfulness and foster a greater sense of inner peace.</p>
                                            <a href="#" class="text-button">Discover More</a>
                                        </div>
                                    </li>
                                    <li class="feature-item">
                                        <div class="left-icon">
                                            <img src="~/assets/images/features-first-icon.png" alt="gym training">
                                        </div>
                                        <div class="right-content">
                                            <h4>Body Building Course</h4>
                                            <p>Throughout the bodybuilding course, participants will be guided through a series of resistance training exercises, focusing on both compound and isolation movements to maximize muscle hypertrophy. The program will cover proper exercise techniques, form, and execution to ensure safety and effectiveness, while also addressing the importance of training variables such as volume, intensity, and frequency.</p>
                                            <a href="#" class="text-button">Discover More</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ***** Features Item End ***** -->

         }
            <!-- ***** Our Classes Start ***** -->
            <section class="section" id="our-classes">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-heading">
                                <h2>Our <em>Classes</em></h2>
                                <img src="assets/images/line-dec.png" alt="">
                                <p>Welcome to our fitness classes! Explore our wide range of classes and find the perfect fit for your workout routine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="tabs">
                        <div class="col-lg-4">
                            <ul>
                                <li><a href='#tabs-1'><img src="~/assets/images/tabs-first-icon.png" alt="">First Training Class</a></li>
                                <li><a href='#tabs-2'><img src="~/assets/images/tabs-first-icon.png" alt="">Second Training Class</a></a></li>
                                <li><a href='#tabs-3'><img src="~/assets/images/tabs-first-icon.png" alt="">Third Training Class</a></a></li>
                                <li><a href='#tabs-4'><img src="~/assets/images/tabs-first-icon.png" alt="">Fourth Training Class</a></a></li>
                                <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
                            </ul>
                        </div>
                        <div class="col-lg-8">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <img src="~/assets/images/training-image-01.jpg" alt="First Class">
                                    <h4>First Training Class</h4>
                                    <p>This class focuses on strength training and conditioning, using a variety of equipment and exercises to help you achieve your fitness goals.</p>
                                    <div class="main-button">
                                        <a href="#">View Schedule</a>
                                    </div>
                                </article>
                                <article id='tabs-2'>
                                    <img src="~/assets/images/training-image-02.jpg" alt="Second Training">
                                    <h4>Second Training Class</h4>
                                    <p>Our second training class offers a mix of cardio and resistance exercises, designed to help you burn calories and build muscle in a fun and challenging workout.</p>
                                    <div class="main-button">
                                        <a href="#">View Schedule</a>
                                    </div>
                                </article>
                                <article id='tabs-3'>
                                    <img src="~/assets/images/training-image-03.jpg" alt="Third Class">
                                    <h4>Third Training Class</h4>
                                    <p>Experience high-intensity interval training in our third class, combining short bursts of intense exercise with periods of rest to maximize your workout efficiency.</p>
                                    <div class="main-button">
                                        <a href="#">View Schedule</a>
                                    </div>
                                </article>
                                <article id='tabs-4'>
                                    <img src="~/assets/images/training-image-04.jpg" alt="Fourth Training">
                                    <h4>Fourth Training Class</h4>

                                    <p>Our fourth training class focuses on flexibility and balance, incorporating elements of yoga, pilates, and stretching exercises to help you improve your overall fitness and well-being.</p>
                                    <div class="main-button">
                                        <a href="#">View Schedule</a>
                                    </div>
                                </article>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ***** Our Classes End ***** -->
            @Html.Partial("_Schedule")


        </main>
    </div>

    @Html.Partial("_FooterApp")


    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <!-- jQuery -->
    <script src="~/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/assets/js/scrollreveal.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/imgfix.min.js"></script>
    <script src="~/assets/js/mixitup.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <!-- New from git-->
    <script src="~/asset/vendors/js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="~/asset/vendors/js/bootstrap.js"></script>
    <script src="~/asset/vendors/js/lightbox.js"></script>
    <script src="~/asset/vendors/js/jquery.waypoints.min.js"></script>
    <script src="~/asset/resources/js/script.js"></script>
    <!-- Global Init -->
    <script src="~/assets/js/custom.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="./assets/js/material-dashboard.min.js?v=3.1.0"></script>

    <!--   Core JS Files   -->
    <script src="./assets/js/core/popper.min.js"></script>
    <script src="./assets/js/core/bootstrap.min.js"></script>
    <script src="./assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="./assets/js/plugins/smooth-scrollbar.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
