@model IEnumerable<Fitness.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-4">Index</h1>
            <div class="d-flex justify-content-end mb-3">
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Likelihood)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Likelihood)
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                            Details
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                            <i class="bi bi-trash"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>